// Миксин для равномерного распределения отступов
@mixin adaptive-padding($content-width: 1200px) {
  $value-padding: calc((100% - #{$content-width}) / 2);
  padding-left: $value-padding;
  padding-right: $value-padding;
}

// Миксин для позиционирования SVG
@mixin svg_poz_adaptive($top, $left, $width, $height, $content-width) {
  position: absolute;
  top: $top;
  left: calc((100vw - $content-width) / 2 + $left);
  width: $width;
  height: $height;
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font($size: 24px, $weight: 600, $height: 29px);
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgba(32, 32, 39, 1);
  border-radius: 60px;
  background: rgba(32, 32, 39, 1);
  padding: 16px 28px 16px 28px;
}
