{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
        <!-- Подключение CSS -->
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>{{ page_number }}</title>
  </head>
  <body>
    <div class="star-2"></div>
    <div class="star-3"></div>
    <div class="star-4"></div>
    <div class="star-5"></div>
    <div class="vector"></div>
    <div class="vector-4780"></div>
    <div class="vector-4781"></div>
    <div class="vector-4782"></div>
    <div class="vector-4788"></div>
    <div class="vector-4789"></div>

    <header class="header">
      <div class="header__block-content">
        <h1 class="header__title">
          Добро пожаловать <br />на мой сайт мини-игр
        </h1>
        <h2 class="header__subtitle">
          Тебе предстоит пройти несколько увлекательных игр. <br />Если готов,
          нажимай
          <span class="header__subtitle header__subtitle_bold">«Поехали!»</span>
          и
          <span class="header__subtitle header__subtitle_bold">приступай</span>.
        </h2>
      </div>
      <div class="header__block-nav">
        <button class="header__btn">Поехали!</button>
      </div>
    </header>
    <div class="marquee">
      <ul>
        <li><a href="#">Викторина</a></li>
        <li><a href="#">Угадай число</a></li>
        <li><a href="#">Переверни текст</a></li>
        <li><a href="#">Простая арифметика</a></li>
        <li><a href="#">Камень, ножницы, бумага</a></li>
        <li><a href="#">Генератор случайных цветов</a></li>
      </ul>
    </div>
    <main>
      {% block about_games %}
      <!-- Об играх! -->
      {% endblock %}
    </main>
  </body>
</html>
