{% extends 'main/base.html' %} {% block about_games %}
<section class="content">
  <div class="content__header">
    <div class="content__title">
      <h2>Об играх</h2>
    </div>
    <div class="content__description">
      <p>В моей коллекции представлено 6 игр на разные темы.</p>
      <p>Игры несложные — в них может поиграть каждый.</p>
      <p>Все игры доступны для пользования.</p>
    </div>
  </div>
  <div class="content__cards-wrapper">
    {% for game in games %}
    <article class="card card_hover-zoom">
      <a href="#{{ game.id }}">
        <div class="card__img">
          <img src="{{ game.image.url }}" alt="" />
        </div>
        <div class="card__body">
          <div class="card__article">
            <span>{{ game.article }}</span>
          </div>
          <div class="card__title">
            <h2>{{ game.name }}</h2>
          </div>
        </div>
      </a>
    </article>
    {% endfor %}
  </div>
</section>
<section class="content">
  <div class="content__header">
    <div class="content__title">
      <h2>Мини-игры</h2>
    </div>
  </div>
  <div class="content__cards-wrapper content__cards-wrapper_big">
    {% for game in games %}
    <article class="card card_big" id="{{ game.id }}">
      <div class="card__img card__img_big">
        <img src="{{ game.image.url }}" alt="" />
      </div>
      <div class="card__body card__body_big">
        <div class="card__title card__title_big">
          <h2>{{ game.name }}</h2>
        </div>
        <div class="card__description">
          <p>{{ game.description }}</p>
        </div>
        <div class="card__button">
          <button>Играть!</button>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
